@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    /*font size*/
    --font-size:  15px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;  
    background-color:var(--very-light-gray)
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    overflow: hidden;
  }

  .card{
    padding: 20px;
    max-width:  255px; 
}

.text{
    padding: 18px;
    padding-right: 30px;
    color: var(--transparent-white);
    font-family: 'Lexend Deca', arial, sans-serif;
    font-size: var(--font-size);    
    line-height: 1.9;
    width: 250px;
}

.title{
    color: var(--very-light-gray);
    padding: 10px;
    font-family: 'Big Shoulders Display', arial, sans-serif;
}


.card img{
    padding: 15px;
}

#c-1{
    background-color: var(--bright-orange);
}

#c-2{
    background-color: var(--dark-cyan);
}
 
#c-3{
    background-color: var(--very-dark-cyan);
}

button{
    border-radius: 30px;
    font-size: var(--font-size);
    padding: var(--font-size);
    margin-top: 35px;
    margin-bottom: 10px;
    width: 150px;
    border: 0px solid var(--transparent-white);
    font-family: 'Lexend Deca', arial, sans-serif;;
    font-size: 15px;
}

button:hover{
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    color: var(--transparent-white);
    transition: translateY(0);
    
}


@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }}